.loading-message {
  margin-inline: auto;
  width: 500px !important;
  text-align: center;
  margin-top: 100px;
  font-style: italic;
  color: #322e2e;
}
.completed-list {
  margin-inline: auto !important;
  width: 500px !important;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.completed-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
}
